
$primary-color:red;
$gray-color1:#202020;
$black:#000;
$black-color1:lighten($black, 10);
$black-color2:lighten($black, 20);
$black-color3:lighten($black, 30);
$black-color4:lighten($black, 40);
$black-color5:lighten($black, 50);
$black-color6:lighten($black, 60);


$color-btn-txt: #000000;


/* BUTTON ===================*/
// Button Size
$btn-height-normal: 38px;
$btn-height-big: 48px;

// Button Radius Setting
$btn-radius-none : 0px;
$btn-radius-sm : 3px;
$btn-radius-big : 6px;
$btn-radius-half : $btn-height-normal/2;